# Environment
.env

# Virtual Environment
.venv

# Migrations
migrations/

# Database
db/tasks.db

# IDE/Editor
.idea/
*.vscode/

# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS-Specific
Thumbs.db
.DS_Store
